/*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

 * Table of content
 * 1.0 Reset Css
 * 2.0 Navbar
 * 3.0 Banner info
 * 4.0 Banner info.v2
 * 5.0 About video
 * 6.0 Newsletter
 * 7.0 Portfolio
 * 8.0 Testimonial
 * 9.0 Team
 * 10.0 Package
 * 11.0 Comment
 * 12.0 Contact
 * 13.0 Footer 
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	/* overflow: hidden; */
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

section,
footer {
	float: left;
	width: 100%;
}

video {
	max-width: 100%;
}


/*navbar-business v2*/

nav.nexa-header-business-v3 {
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}

nav.nexa-header-business-v3 .img-responsive {
	height: calc(100% + 20px);
	margin: -10px 0;
	padding: 0;
}

nav.nexa-header-business-v3 .navbar-brand {
	padding: 0 !important;
}

nav.nexa-header-business-v3 .business-nav .menu-items-v2 a {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	color: #000;
	transition: all ease 0.5s;
	line-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
}

nav.nexa-header-business-v3 .business-nav .menu-items-v2 a:hover {
	color: #4fbe6e;
}

nav.nexa-header-business-v3 .nav>li>a:focus,
nav.nexa-header-business-v3 .nav>li>a:hover {
	background-color: unset;
}

nav.nexa-header-business-v3 .business-nav li.dropdown:hover .dropdown-menu {
	top: 100%;
	left: 0;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	margin-top: 2px;
	font-size: 14px;
	background-color: #fff;
	display: block;
	border-radius: 0;
}

nav.nexa-header-business-v3 .business-nav .dropdown-menu>li>a {
	display: block;
	padding: 9px 31px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	text-transform: capitalize;
}

nav.nexa-header-business-v3 .navbar-brand {
	float: left;
	height: 50px;
	padding: 10px 0;
	font-size: 18px;
	line-height: 20px;
}

nav.nexa-header-business-v3 .business-nav .dropdown-menu {
	display: none;
}

nav.nexa-header-business-v3 .header-v3 {
	background-color: #f8f8f8;
	padding: 15px 40px;
	position: absolute;
	z-index: 9999;
	width: 1170px;
	left: 0;
	right: 0;
	top: -41px;
	text-align: center;
	margin: 0 auto;
	border-radius: 4px;
}

nav.nexa-header-business-v3 .nav-btn {
	margin-top: 2px;
	float: right;
}

nav.nexa-header-business-v3 .nav-btn .btn-default {
	color: #000;
	background-color: transparent;
	border-color: #0984e3;
	border-width: 2px;
	text-transform: uppercase;
	border-radius: 0;
	padding: 9px 21px;
	font-size: 14px;
	transition: all ease 0.6s;
}

nav.nexa-header-business-v3 .nav-btn .btn-default:hover {
	color: #000;
	background-color: transparent;
	border-color: #4fbe6e;
	text-transform: uppercase;
	border-radius: 0;
}

header.first-header {
	background-color: #5FC1EE;
	padding-top: 15px;
	padding-bottom: 62px;
}

header.first-header .left-header .personal-header {
	float: left;
}

header.first-header .left-header .personal-header li a {
	text-decoration: none;
	color: #fff;
	transition: all ease 0.4s;
}

header.first-header .left-header .personal-header li a:hover {
	color: #000;
}

header.first-header .left-header .personal-header li {
	display: inline;
	padding-right: 20px;
	color: #fff;
	border-right: 1px solid #fff;
}

header.first-header .left-header .personal-header li:nth-child(2) {
	padding-left: 15px;
}

header.first-header-v3 .left-header .personal-header li:nth-child(2) {
	padding-left: 15px;
}

header.first-header .left-header .personal-header li:last-child {
	border-right: none;
	padding-left: 15px;
}

header.first-header .left-header .personal-header li .fa {
	padding-right: 4px;
	color: #fff;
}

header.first-header .right-header .social-header li .fa {
	color: #fff;
	padding-left: 25px;
	transition: all ease 0.4s;
}

header.first-header .right-header .social-header li .fa:hover {
	color: #000;
}

header.first-header .right-header .social-header {
	float: right;
}

header.first-header .right-header .social-header li {
	display: inline;
}

@media screen and (max-width: 767px) {
	nav.nexa-header-business-v3 .img-responsive {
		height: 100%;
		margin: 0;
		padding: 0;
	}

	header.first-header {
		padding-top: 5px;
		padding-bottom: 15px;
	}

	header.first-header .left-header {
		text-align: center;
	}

	nav.nexa-header-business-v3 .header-v3 {
		position: relative;
		width: 100%;
		padding: 15px 0;
		top: 0px;
		box-shadow: none;
	}

	header.first-header .left-header .personal-header li {
		display: inline-block;
		padding-right: 20px;
		padding-top: 15px;
		border: none;
	}

	header.first-header .left-header .personal-header .time-header {
		display: none;
	}

	nav.nexa-header-business-v3 .navbar-brand {
		padding: 11px 15px;
	}

	header.first-header .right-header {
		text-align: center;
		float: left;
		width: 100%;
	}

	header.first-header .right-header .social-header {
		float: unset;
		padding-top: 15px;
	}

	header.first-header .right-header .social-header li .fa {
		padding-right: 20px;
		padding-left: 0;
	}

	nav.nexa-header-business-v3 .navbar-toggle {
		background-color: #272727;
		border: 1px solid #272727;
		border-radius: 0;
	}

	nav.nexa-header-business-v3 .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	nav.nexa-header-business-v3 .nav-btn {
		margin-top: 2px;
		display: none;
	}

	nav.nexa-header-business-v3 .collapse.in .nav-btn {
		display: block;
	}

	nav.nexa-header-business-v3 .business-nav li.dropdown:hover .dropdown-menu {
		margin-top: 0px;
		width: 100%;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	header.first-header .left-header .personal-header {
		float: left;
		width: 100%;
		text-align: center;
		padding-top: 10px;
	}

	nav.nexa-header-business-v3 .header-v3 {
		width: 100%;
	}

	header.first-header .right-header .social-header {
		float: left;
		text-align: center;
		width: 100%;
		padding-top: 25px;
	}

	nav.nexa-header-business-v3 .nav-btn .btn-default {
		border-radius: 0;
		padding: 4px 8px;
		font-size: 11px;
	}

	nav.nexa-header-business-v3 .nav>li>a {
		padding: 6px 7px;
		font-size: 13px !important;
		text-transform: unset !important;
	}

	nav.nexa-header-business-v3 .navbar-right {
		float: unset !important;
	}

	nav.nexa-header-business-v3 .navbar-brand {
		padding: 16px 0;
	}

	nav.nexa-header-business-v3 .navbar-collapse.collapse {
		padding-top: 0;
	}

	nav.nexa-header-business-v3 .nav-btn {
		margin-top: 10px;
	}
}

@media screen and (max-width: 1191px) and (min-width: 991px) {
	nav.nexa-header-business-v3 .nav>li>a {
		padding: 10px 10px;
	}

	nav.nexa-header-business-v3 .navbar-collapse.collapse {
		padding-top: 0;
	}

	nav.nexa-header-business-v3 .navbar-right {
		float: unset !important;
		text-align: center;
	}
}

@media screen and (max-width: 1191px) and (min-width: 991px) {
	nav.nexa-header-business-v3 .header-v3 {
		width: 100%;
	}
}

.nexa-header-business.sticky-header {
	top: 0;
	background-color: #ffffff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	z-index: 9999999;
	position: fixed;
	margin-top: 0px;
	/*height: 100px;*/
	width: 100%;
}

.nexa-header-business.sticky-header .header-v3 {
	top: 0 !important;
	position: relative;
}

/*end-navbar-business v2*/


/*banner-info-business v2*/

section.nexa-banner-business.v2 .banner-img>img {
	width: 100%;
	position: relative;
	height: 550px;
	/*460*/
	object-fit: cover;
}

section.nexa-banner-business.v2 .carousel-inner {
	width: 100%;
	height: 100%;
	/*460*/
}

section.nexa-banner-business.v2 .overlay-banner {
	background-color: #605e5b;
	left: 0;
	opacity: 0.40;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

section.nexa-banner-business.v2 .banner-inner-info {
	position: absolute;
	top: 50%;
	width: 80%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

section.nexa-banner-business.v2 .banner-title {
	position: relative;
}

.banner-form {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #0984e3;
	padding: 30px 30px 15px;
	max-width: 360px;
	border-radius: 4px;
}

.banner-form span {
	color: red;
	margin-left: 3px;
}

.banner-form label {
	color: white;
	display: block;
	font-size: 14px;
	margin: 10px 0;
}

.banner-form input,
.banner-form textarea {
	width: 100%;
	border: 0px;
	border-radius: 4px;
}

.banner-form input {
	padding: 3px 5px;
}

.banner-form button {
	background-color: #d63031;
	border: 0px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	margin-top: 15px;
	padding: 15px;
	transition: 0.3s all ease;
	width: 100%;
}

.banner-form button:hover {
	background: #7e2929;
}

section.nexa-banner-business.v2 .banner-title h4 {
	color: #fff;
	font-size: 40px;
	line-height: 1.3;
	padding-bottom: 10px;
	font-weight: 300;
	width: 45%;
	max-width: 500px;
	font-weight: bold;
}

section.nexa-banner-business.v2 .banner-title h2 {
	font-size: 2em !important;
	color: rgb(255, 255, 255) !important;
	margin-top: 25px;
	text-transform: uppercase;
}

section.nexa-banner-business.v2 .banner-title p {
	display: block;
	color: #fff;
	padding-bottom: 10px;
}

section.nexa-banner-business.v2 .banner-title h2 {
	color: #dbdcd9;
	font-size: 18px;
	line-height: 1.4;
	padding-bottom: 53px;
	width: 52%;
	max-width: 450px;
}

section.nexa-banner-business.v2 .banner-title .btn.btn-success:hover {
	background-color: #4fbe6e;
	border-color: #4fbe6e;
}

section.nexa-banner-business.v2 .banner-title .btn.btn-success {
	background-color: #0be689;
	border-color: #0be689;
	border-radius: 28px;
	color: #fff;
	float: left;
	padding: 16px 40px;
	margin-right: 40px;
}

section.nexa-banner-business .banner-title .fa {
	color: #fff;
	font-size: 16px;
	width: 40px;
	height: 40px;
	background-color: transparent;
	text-align: center;
	padding-top: 10px;
	border: 3px solid #dbdcd9;
	border-radius: 34px;
	padding-left: 4px;
	margin-right: 11px;
}

section.nexa-banner-business.v2 .banner-title .video-title span {
	color: #fff;
	display: inline-block;
	float: right;
	margin-left: 7px;
	margin-top: 14px;
}

section.nexa-banner-business.v2 .video-btn {
	float: left;
	padding-top: 7px;
}

section.nexa-banner-business .video-btn a:hover {
	color: #4fbe6e;
}

section.nexa-banner-business .video-btn a:hover .fa {
	color: #4fbe6e;
	border-color: #4fbe6e;
}

section.nexa-banner-business.v2 .carousel-indicators li {
	background-color: #515457;
	border: 1px solid #515457;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	height: 6px;
	margin: 1px;
	text-indent: -999px;
	width: 24px;
}

section.nexa-banner-business.v2 .carousel-indicators .active {
	background-color: #fff;
	border-color: #fff;
	height: 6px;
	margin: 1px;
	width: 24px;
}

section.nexa-banner-business.v2 .carousel-indicators {
	bottom: 17px;
}

@media screen and (max-width: 767px) {
	section.nexa-banner-business.v2 .banner-inner-info {
		display: none;
	}

	section.nexa-banner-business.v2 .banner-img>img {
		height: 140px;
		object-fit: cover;
	}

	section.nexa-banner-business.v2 .overlay-banner {
		height: 99%;
	}

	section.nexa-banner-business.v2 .carousel-indicators li {
		height: 5px;
		margin: 0 7px 1px 1px;
		width: 27px;
	}

	section.nexa-banner-business.v2 .carousel-inner {
		width: 100%;
	}

	section.nexa-banner-business.v2 .carousel-indicators .active {
		height: 5px;
		margin: 1px;
		width: 27px;
	}

	section.nexa-banner-business.v2 .carousel-indicators {
		bottom: 12%;
		z-index: 15;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	section.nexa-banner-business.v2 .banner-title h4 {
		font-size: 31px;
		line-height: 1.2;
		padding-bottom: 15px;
		width: 100%;
	}

	section.nexa-banner-business.v2 .banner-title h2 {
		color: #d3d3d3;
		font-size: 17px;
		padding-bottom: 15px;
		width: 100%;
	}

	section.nexa-banner-business.v2 .banner-title .btn.btn-success {
		padding: 10px 27px;
	}

	section.nexa-banner-business.v2 .banner-title h3 {
		margin-top: 15px;
	}

	section.nexa-banner-business.v2 .video-btn {
		padding-top: 3px;
	}

	section.nexa-banner-business.v2 .banner-img>img {
		height: 310px;
	}

	section.nexa-banner-business.v2 .carousel-indicators {
		bottom: 15px;
	}

	section.nexa-banner-business.v2 .overlay-banner {
		height: 99%;
	}
}

@media screen and (max-width: 1191px) and (min-width: 991px) {
	section.nexa-banner-business.v2 .banner-title h4 {
		width: 100%;
	}

	section.nexa-banner-business.v2 .carousel-inner {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		clip-path: unset;
	}

	section.nexa-banner-business.v2 .banner-img>img {
		height: 425px;
	}

	section.nexa-banner-business.v2 .overlay-banner {
		height: 99.5%;
	}

	section.nexa-banner-business.v2 .carousel-indicators {
		bottom: 15px;
	}
}


/*end-banner-info v2*/


/*service-business v2*/

section.nexa-service-business.v2 {
	background-image: url("../img/business/service-bg.html");
	background-position: 64% center;
	background-repeat: no-repeat;
	padding-bottom: 100px;
	z-index: 999;
}

section.nexa-service-business.v2 .service-title {
	margin-top: 50px;
	margin-bottom: 80px;
}

section.nexa-service-business.v2 .service-title>h3 {
	color: #4d4d4d;
	font-size: 31px;
	margin: 0 auto;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	width: 47%;
	text-transform: uppercase;
}

section.nexa-service-business.v2 .service-detail {
	/*padding: 62px 41px 83px 43px;*/
	text-align: center;
	transition: all ease 0.6s;
}

section.nexa-service-business.v2 .service-title>h2 {
	color: #8a8a8a;
	font-size: 18px;
	text-align: center;
	font-weight: lighter;
}

section.nexa-service-business.v2 .service-detail>h3 {
	color: #4d4d4d;
	font-size: 21px;
	margin-top: 36px;
}

section.nexa-service-business.v2 .service-detail>h2 {
	color: #8a8a8a;
	line-height: 1.4;
	margin-top: 34px;
	width: 96%;
	font-size: 18px;
}

section.nexa-service-business.v2 .service-detail .fa,
section.nexa-service-business.v2 .service-detail i,
section.nexa-service-business.v2 .service-detail i::before {
	color: #4d4d4d;
	transition: all ease 0.6s;
	font-size: 80px;
}

section.nexa-service-business.v2 .service-detail:hover h3 {
	color: #2CABE3 !important;
}

section.nexa-service-business.v2 .service-detail:hover .fa,
section.nexa-service-business.v2 .service-detail:hover i,
section.nexa-service-business.v2 .service-detail:hover i::before {
	color: #2CABE3;
	position: relative;
	transition: all ease 0.6s;
}

@media screen and (max-width: 767px) {
	section.nexa-service-business.v2 {
		margin-top: 0px;
	}

	section.nexa-service-business.v2 .service-title>h3 {
		font-size: 27px;
		text-align: center;
		width: 97%;
	}

	section.nexa-service-business.v2 .service-detail {
		padding: 20px 41px 25px 43px;
	}

	section.nexa-service-business.v2 .service-title {
		margin-bottom: 46px;
		margin-top: 0;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	section.nexa-service-business.v2 {
		margin-top: 25px;
		padding-bottom: 50px;
	}

	section.nexa-service-business.v2 .service-title {
		margin-bottom: 75px;
		margin-top: 0;
	}

	section.nexa-service-business.v2 .service-title>h3 {
		font-size: 28px;
		width: 70%;
	}
}


/*end-of service v2*/


/*about-video-business*/

section.about-video {
	background-image: url(../img/shape-bg.png);
	padding-top: 60px;
	padding-bottom: 60px;
	background-size: contain;
	background-repeat: no-repeat;
}

section.about-video .video-box {
	position: relative;
}

section.about-video .video-box .bg-shape {
	background-color: #fff;
	height: 345px;
	position: absolute;
	border-radius: 6px;
	z-index: 9;
	top: 0;
	box-shadow: 0 0 10px #00000015;
	width: 100%;
	transform: rotate(-3deg);
}

section.about-video .video-box img {
	height: 345px;
	position: relative;
	width: 100%;
	z-index: 9;
	border-radius: 5px;
	object-fit: cover;
	box-shadow: 0 0 9px #00000015;
}

section.about-video .video-box .play-btn {
	position: absolute;
	top: 35%;
	width: 100%;
	z-index: 9;
	margin: 0 auto;
	text-align: center;
}

section.about-video .video-box .play-btn .fa {
	width: 85px;
	height: 85px;
	text-align: center;
	background-color: #4ee588;
	color: #fff;
	font-size: 38px;
	border-radius: 54px;
	padding-top: 19px;
	border: 4px solid #ffffff;
	padding-left: 9px;
	transition: all 0.4s;
}

section.about-video .spac {
	padding-left: 45px;
}

section.about-video .video-detail h2 {
	font-size: 30px;
	font-weight: normal;
	color: #4d4d4d;
	line-height: 1.3;
	padding-bottom: 26px;
	text-transform: uppercase;
}

section.about-video .video-detail p {
	font-size: 17px;
	line-height: 1.5;
	color: rgb(102, 100, 100);
	padding-bottom: 31px;
	font-weight: lighter;
}

section.about-video .video-detail p span {
	font-weight: normal !important;
}

section.about-video .video-detail .list {
	padding-bottom: 38px;
}

section.about-video .video-detail .list li {
	padding-right: 36px;
}

section.about-video .video-detail .list li,
section.about-video .video-detail .btn-list li {
	display: inline-block;
}

section.about-video .video-detail .list li h3 {
	font-size: 30px;
	font-weight: lighter;
	color: #4ee588;
	padding-bottom: 18px;
}

section.about-video .video-detail .list li h4 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #999;
}

section.about-video .video-detail .btn-list li .btn {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	background-color: #4ee588;
	border-color: #4ee588;
	color: #fff;
	padding: 15px 40px;
	border-radius: 36px;
	transition: all 0.4s;
}

section.about-video .video-detail .btn-list li h5 {
	font-size: 17px;
	color: #999;
	padding-left: 27px;
}

#myModal2 .modal-dialog {
	margin: 40% auto 0;
}

.modal-dialog {
	margin-top: 120px;
}

@media screen and (max-width: 767px) {
	section.about-video .spac {
		padding-left: 15px;
		padding-top: 40px;
	}

	section.about-video .video-detail .list {
		text-align: center;
		padding-bottom: 20px;
	}

	section.about-video .video-detail .list li {
		padding-right: 30px;
		padding-bottom: 20px;
	}

	section.about-video .btn-list {
		text-align: center;
	}

	section.about-video .video-detail .btn-list li h5 {
		padding-left: 0;
		padding-top: 18px;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	section.about-video .spac {
		padding-left: 15px;
		padding-top: 35px;
	}
}

@media screen and (max-width: 767px) {
	section.nexa-video-business {
		margin-top: 0px;
	}

	section.nexa-video-business .about-video-img {
		display: none;
	}

	section.nexa-service-business {
		padding-bottom: 83px;
		padding-top: 50px;
	}

	.about-play-img>h4 {
		font-size: 24px;
		margin-left: 91px;
		display: block;
		width: 67%;
		float: left;
		margin-top: -45px;
	}

	section.nexa-video-business .video-about-detail {
		padding-top: 40px;
	}

	section.nexa-video-business .about-play-img .fa {
		float: left;
		margin-top: 0;
		width: 68px;
		height: 68px;
		margin-right: 0;
		padding-top: 23px;
	}

	section.nexa-video-business video {
		width: 100%;
	}

	.modal-dialog {
		margin: 100px 10px 10px;
		position: relative;
		width: auto;
	}

	section.nexa-video-business .video-about-detail>h1 {
		padding-bottom: 25px;
		width: 100%;
	}

	section.nexa-video-business .video-about-detail>p {
		font-size: 16px;
		padding-bottom: 50px;
	}

	section.nexa-video-business .free-quote {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		clip-path: unset;
		padding-left: 25px;
		right: 0;
		top: 92%;
		width: 100%;
	}

	section.nexa-video-business .about-list>li {
		padding-right: 22px;
	}

	section.about-video {
		background: none;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	section.nexa-video-business .about-play-img .fa {
		float: left;
		margin-right: -1%;
		margin-top: 0;
		width: 90px;
		height: 90px;
		padding-top: 33px;
		padding-left: 6px;
	}

	section.nexa-video-business .about-video-img {
		display: none;
	}

	section.nexa-video-business {
		background-image: none;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		padding-bottom: 84px;
		margin-top: 0px;
	}

	.about-play-img>h4 {
		color: #8a8a8a;
		float: left;
		display: block;
		font-size: 23px;
		margin-top: 33px;
		margin-left: 25px;
	}

	section.nexa-video-business .video-about-detail {
		padding-top: 35px;
	}

	section.nexa-video-business .video-about-detail>h1 {
		width: 100%;
		padding-bottom: 30px;
	}

	section.nexa-video-business .video-about-detail>p {
		padding-bottom: 40px;
	}

	section.nexa-video-business .free-quote {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		clip-path: unset;
		left: 0;
		top: 91%;
		width: 100%;
		padding-left: 0;
		text-align: center;
	}

	section.nexa-video-business .video-about-detail>h2 {
		text-align: center;
	}

	section.nexa-video-business .about-list {
		text-align: center;
	}

	section.nexa-video-business .about-list>li {
		padding-left: 40px;
		padding-right: 40px;
	}

	section.about-video {
		background: none;
	}
}

@media screen and (max-width: 1191px) and (min-width: 991px) {
	section.nexa-video-business .free-quote {
		top: 88%;
	}

	section.nexa-video-business .about-play-img .fa {
		float: right;
		margin-right: -5%;
		margin-top: 113%;
	}

	section.nexa-video-business .about-video-img .about-img-video {
		width: 407px;
	}
}

@media screen and (min-width: 992px) {
	section.nexa-contact-business .w-560px {
		width: calc(100% - 560px);
	}

	.w631px {
		width: 631px !important;
	}
}

@media screen and (max-width: 1050px) and (min-width: 992px) {
	section.nexa-video-business {
		padding-bottom: 0px;
	}

	section.nexa-video-business .about-video-shapes {
		display: none;
	}

	section.nexa-video-business .about-video-img .about-img-video {
		border-radius: unset;
	}

	section.nexa-video-business .about-video-img .about-img-video {
		width: 40%;
		height: 100%;
	}

	section.nexa-video-business .video-about-detail {
		padding-top: 0px;
	}

	section.nexa-video-business .video-about-detail>h1 {
		width: 100%;
	}

	section.nexa-video-business .video-about-detail>p {
		padding-bottom: 50px;
	}

	section.nexa-video-business .free-quote {
		bottom: 0;
		top: unset;
	}

	section.nexa-video-business .about-play-img {
		margin: 0 auto;
		margin-top: 50%;
	}

	section.nexa-video-business .about-play-img .fa {
		margin: 0;
		margin-right: 40%;
	}

	section.nexa-video-business .about-list {
		margin-bottom: 150px;
	}
}

@media screen and (max-width: 1600px) and (min-width: 1400px) {
	section.nexa-video-business {
		background-size: 37% 100%;
	}

	section.nexa-video-business .about-play-img .fa {
		margin-right: 0;
		margin-top: 82%;
	}

	section.nexa-video-business .about-video-img .about-img-video {
		width: 595px;
	}
}

@media screen and (max-width: 1750px) and (min-width: 1650px) {
	section.nexa-video-business .about-play-img .fa {
		margin-right: 17%;
		margin-top: 85%;
	}

	section.nexa-video-business .about-video-img .about-img-video {
		width: 600px;
	}
}


/*end-aboutvideo-section*/


/*feature-business*/

section.nexa-feature-business {
	border-bottom: 1px solid #f7f7f7;
	padding-bottom: 186px;
	padding-top: 72px;
}

section.nexa-feature-business .feature-title {
	text-align: center;
}

section.nexa-feature-business .feature-title>h3 {
	color: #222;
	line-height: 2;
	font-weight: 400;
	font-size: 31px;
	text-transform: uppercase;
}

section.nexa-feature-business .feature-title>h2 {
	color: #8a8a8a;
	font-size: 18px;
	padding-bottom: 81px;
	font-weight: lighter;
}

section.nexa-feature-business .feature-detail>a>h2 {
	color: #222;
	margin-top: 52px;
	text-align: center;
	margin-bottom: 33px;
	font-size: 20px;
}

section.nexa-feature-business .feature-detail>a>h2:hover {
	color: #4fbe6e;
}

section.nexa-feature-business .feature-detail>a {
	text-decoration: none;
}

section.nexa-feature-business .feature-detail>h2 {
	color: #8a8a8a;
	font-size: 18px;
	line-height: 1.3;
	padding-left: 46px;
	padding-right: 40px;
	text-align: center;
}

section.nexa-feature-business .carousel-indicators li {
	background-color: #ececec;
	border: 1px solid #ececec;
	border-radius: 10px;
	cursor: pointer;
	margin: 1px 1px 1px 10px;
	display: inline-block;
	height: 5px;
	margin: 1px;
	text-indent: -999px;
	width: 25px;
}

section.nexa-feature-business .carousel-indicators .active {
	background-color: #d0d0d0;
	height: 7px;
	margin: 0;
	width: 25px;
}

section.nexa-feature-business .feature-detail .img-responsive.feature-img {
	border-radius: 11px;
	height: 210px;
	object-fit: cover;
	width: 100%;
}

section.nexa-feature-business .carousel-indicators {
	bottom: -82px;
}

@media screen and (max-width: 767px) {
	section.nexa-feature-business {
		padding-top: 100px;
	}

	section.nexa-feature-business .feature-title>h2 {
		padding-bottom: 55px;
	}

	section.nexa-feature-business .feature-detail>h2 {
		margin-bottom: 28px;
		padding-left: 33px;
	}

	section.nexa-feature-business .feature-detail>a>h2 {
		margin-top: 38px;
	}

	section.nexa-feature-business .feature-detail .img-responsive.feature-img {
		height: 100%;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	section.nexa-feature-business {
		padding-bottom: 80px;
		padding-top: 111px;
	}

	section.nexa-feature-business .feature-detail .img-responsive.feature-img {
		height: 150px;
	}

	section.nexa-feature-business .feature-detail>a>h2 {
		margin-top: 25px;
		margin-bottom: 10px;
		height: 45px;
	}

	section.nexa-feature-business .feature-detail>h2 {
		padding-left: 0px;
		padding-right: 0px;
	}

	section.nexa-feature-business .carousel-indicators {
		bottom: -50px;
	}
}

@media screen and (max-width: 1198px) and (min-width: 991px) {
	section.nexa-feature-business .feature-detail .img-responsive.feature-img {
		height: 180px;
	}
}


/*end-of-feature*/


/*aboutnexa-business*/

section.nexa-aboutnexa-business-v2 {
	overflow: hidden;
	padding-bottom: 40px;
	position: relative;
	z-index: 999;
	border-bottom: 1px solid #f7f7f7;
}

section.nexa-aboutnexa-business-v2 .shape-about-us {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

section.nexa-aboutnexa-business-v2 .shape-about-us>img {
	height: 532px;
	object-fit: cover;
	object-position: center;
}

section.nexa-aboutnexa-business-v2 .img-widh {
	height: 40px;
	object-fit: contain;
	width: 40px;
}

section.nexa-aboutnexa-business-v2 .img-widh i::before {
	font-size: 2.5em;
}

section.nexa-aboutnexa-business-v2 .about-title>h2 {
	font-size: 30px;
	font-weight: lighter;
	line-height: 1.4;
	width: 90%;
	padding-top: 30px;
	color: #333;
	text-transform: capitalize;
}

section.nexa-aboutnexa-business-v2 .aboutnexa-details {
	padding-top: 20px;
}

section.nexa-aboutnexa-business-v2 .aboutnexa-details h2 {
	display: flex;
	transform: translateX(10px);
}

section.nexa-aboutnexa-business-v2 .aboutnexa-details h2 p {
	display: block;
	margin-left: auto;
	margin-right: 15px;
}

section.nexa-aboutnexa-business-v2 .aboutnexa-details>p {
	color: #8a8a8a;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.6;
	padding-bottom: 25px;
	width: 80%;
	text-align: justify;
}

section.nexa-aboutnexa-business-v2 .about-title .title-about {
	color: #13b1cd;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 21px;
}

section.nexa-aboutnexa-business-v2 .about-service-list>li {
	float: left;
	padding-bottom: 26px;
	width: 41%;
}

section.nexa-aboutnexa-business-v2 .img-widh {
	float: left;
	width: 25%;
}

section.nexa-aboutnexa-business-v2 .about-service-list {
	margin-top: 25px;
}

section.nexa-aboutnexa-business-v2 .about-title {
	padding-top: 30px;
}

section.nexa-aboutnexa-business-v2 .about-service-list h2 {
	margin-top: 10px;
	font-size: 16px;
	color: #7c7c7c;
}

@media screen and (max-width: 767px) {
	section.nexa-aboutnexa-business-v2 {
		background-image: none;
	}

	section.nexa-aboutnexa-business-v2 .shape-about-us {
		position: unset;
	}

	section.nexa-aboutnexa-business-v2 .about-title {
		padding-top: 50px;
	}

	section.nexa-aboutnexa-business-v2 .aboutnexa-details>p {
		line-height: 1.3;
		width: 100%;
	}

	section.nexa-aboutnexa-business-v2 .about-title>h2 {
		width: 100%;
		font-size: 27px;
	}

	section.nexa-aboutnexa-business-v2 .about-title>p {
		font-size: 16px;
		line-height: 1.7;
	}

	section.nexa-aboutnexa-business-v2 .about-service-list {
		margin-top: 15px;
	}

	section.nexa-aboutnexa-business-v2 .img-widh {
		width: 20%;
	}

	section.nexa-aboutnexa-business-v2 .about-service-list>li {
		width: 100%;
	}

	section.nexa-aboutnexa-business-v2 .shape-about-us>img {
		height: 100%;
		width: 100%;
		padding: 15px;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	section.nexa-aboutnexa-business-v2 {
		background-size: 52% 89%;
		margin-bottom: 45px;
	}

	section.nexa-aboutnexa-business-v2 .about-title {
		padding-top: 60px;
	}

	section.nexa-aboutnexa-business-v2 .about-title>h2 {
		width: 85%;
	}

	section.nexa-aboutnexa-business-v2 .about-service-list {
		margin-top: 30px;
	}

	section.nexa-aboutnexa-business-v2 .img-widh {
		width: 18%;
	}

	section.nexa-aboutnexa-business-v2 .shape-about-us>img {
		float: right;
		height: 100%;
		width: 30%;
	}

	section.nexa-aboutnexa-business-v2 .about-service-list>li {
		width: 37%;
	}

	section.nexa-aboutnexa-business-v2 .shape-about-us {
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}

	section.nexa-aboutnexa-business-v2 .aboutnexa-details>p {
		width: 65%;
	}
}

@media screen and (max-width: 1191px) and (min-width: 991px) {
	section.nexa-aboutnexa-business-v2 {
		background-size: 50% 97%;
	}

	section.nexa-aboutnexa-business-v2 .shape-about-us>img {
		height: 592px;
		width: 271px;
	}

	section.nexa-aboutnexa-business-v2 .about-title>h2 {
		width: 70%;
	}
}


/*aboutnexa-business*/


/*newletter-business v2*/

section.nexa-newletter-business-v2 {
	margin-top: 60px;
	background-color: #333;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-bottom: 60px
}

section.nexa-newletter-business-v2 .info-newletter>h3 {
	font-size: 31px;
	font-weight: lighter;
	line-height: 1;
	color: #fff;
	padding-bottom: 8px;
}

section.nexa-newletter-business-v2 .newsletter-subscribe-btn {
	text-align: right;
}

section.nexa-newletter-business-v2 .info-newletter>h2 {
	color: #e8e8e8;
	font-size: 17px;
	font-weight: lighter;
	line-height: 1.2;
}

section.nexa-newletter-business-v2 .newletter-icon .fa {
	color: #4fbe6e;
	position: absolute;
	font-size: 66px;
	left: -1.1em;
}

section.nexa-newletter-business-v2 .newletter-icon img {
	position: absolute;
	width: 60px;
	height: 60px;
	object-fit: cover;
	top: -5px;
	left: -4.1em;
}

section.nexa-newletter-business-v2 .form-control {
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	height: 44px;
	padding-left: 20px;
	width: 300px !important;
	display: inline;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

section.nexa-newletter-business-v2 .btn.btn-success {
	padding: 11px 45px;
	background-color: #11ea8e;
	width: 159px;
	border-color: #11ea8e;
	margin-left: -5px;
	border-radius: 0;
	margin-top: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	vertical-align: bottom;
	max-height: 44px;
}

section.nexa-newletter-business-v2 .btn.btn-success:hover {
	background-color: #0ad681 !important;
	color: #fff !important;
	border-color: #0ad681 !important;
}

section.nexa-newletter-business-v2 .form-control:focus {
	border-color: #4fbe6e;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	outline: 0 none;
}

@media screen and (max-width: 767px) {
	section.nexa-newletter-business-v2 .overlay-newsletter {
		clip-path: unset;
		height: 225px;
		left: 0;
		top: 0;
		border-radius: 0;
		width: 100%;
	}

	section.nexa-newletter-business-v2 .info-newletter>h3 {
		font-size: 27px;
		line-height: 1;
		padding-top: 20px;
	}

	section.nexa-newletter-business-v2 .newletter-icon img {
		position: unset;
		margin: 0 auto;
	}

	section.nexa-newletter-business-v2 .info-newletter {
		padding-left: 10px;
		top: -20px;
	}

	section.nexa-newletter-business-v2 .info-newletter>h2 {
		color: #abf0d3;
		margin-top: 15px;
	}

	section.nexa-newletter-business-v2 .btn.btn-success {
		padding: 11px 13px !important;
		width: unset;
		margin-top: -2px;
	}

	section.nexa-newletter-business-v2 {
		padding-bottom: 15%;
	}

	section.nexa-newletter-business-v2 .newsletter-subscribe-btn {
		text-align: left;
		margin-top: 35px;
	}

	section.nexa-newletter-business-v2 .form-control {
		width: 175px !important;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	section.nexa-newletter-business-v2 .info-newletter {
		padding-left: 0;
		top: unset;
		text-align: center;
	}

	section.nexa-newletter-business-v2 .newletter-icon img {
		position: unset;
		margin: 0 auto;
		margin-bottom: 0px;
		margin-bottom: 33px;
	}

	section.nexa-newletter-business-v2 {
		margin-top: 0;
	}

	section.nexa-newletter-business-v2 .newsletter-subscribe-btn {
		text-align: center;
		margin-top: 6%;
	}

	section.nexa-newletter-business-v2 .btn.btn-success {
		margin-top: -2px;
	}
}

@media screen and (max-width: 1191px) and (min-width: 991px) {
	section.nexa-newletter-business-v2 .info-newletter {
		padding-left: 35px;
	}

	section.nexa-newletter-business-v2 .newsletter-subscribe-btn {
		padding-top: 20px;
	}

	section.nexa-newletter-business-v2 .form-control {
		padding-left: 15px;
		width: 250px !important;
	}

	section.nexa-newletter-business-v2 .info-newletter>h3 {
		font-size: 28px;
	}

	section.nexa-newletter-business-v2 .btn.btn-success {
		padding: 11px 20px;
		width: unset;
		margin-top: -1px;
	}

	section.nexa-newletter-business-v2 .newletter-icon img {
		top: 4px;
		left: -1.1em;
	}
}

@media screen and (max-width: 1900px) and (min-width: 1400px) {
	section.nexa-newletter-business-v2 .info-newletter {
		left: 10%;
	}
}


/*end-newletter-business*/


/*end-newletter-business*/


/* Portfolio-Business V2*/

section.nexa-project-business-v2 {
	border-bottom: 1px solid #f7f7f7;
	padding-bottom: 0;
	padding-top: 59px;
}

section.nexa-project-business-v2 .project-title>h3 {
	color: #222;
	font-size: 31px;
	text-align: center;
	font-weight: 400;
	padding-bottom: 20px;
	padding-bottom: 15px;
	line-height: 2.2;
	text-transform: uppercase;
}

section.nexa-project-business-v2 .project-title>h2 {
	font-size: 18px;
	text-align: center;
	padding-bottom: 68px;
	font-weight: lighter;
	color: #b2b2b2;
}

section.nexa-project-business-v2 .row {
	margin-right: 0;
	margin-left: 0;
}

section.nexa-project-business-v2 .project-details .project-descript .projects-links li {
	display: inline;
}

section.nexa-project-business-v2 .project-details {
	position: relative;
	margin-bottom: 5px;
}

section.nexa-project-business-v2 #my-project .modal-dialog {
	width: 700px;
	margin: 10% auto;
}

section.nexa-project-business-v2 #my-project .modal-body {
	padding: 0;
}

section.nexa-project-business-v2 #my-project .modal-body .close span {
	background: #fff;
	padding: 0px 7px;
	border-radius: 25px;
}

section.nexa-project-business-v2 #my-project .modal-body .close {
	float: right;
	font-size: 19px;
	color: #000;
	opacity: 1;
	position: absolute;
	top: -12px;
	right: -10px;
}

section.nexa-project-business-v2 #my-project .modal-content {
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 0px 10px #e8e8e8;
	border: none;
}

section.nexa-project-business-v2 #my-project {
	background-color: #333d;
}

section.nexa-project-business-v2 .project-details:hover .overlay-prjects {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #0be689;
	transition: all ease 0.6s;
	opacity: 0.6;
}

section.nexa-project-business-v2 .project-details:hover .project-descript {
	display: block;
}

section.nexa-project-business-v2 .col-md-4 {
	padding-right: 0;
	padding-left: 0;
}

section.nexa-project-business-v2 .col-md-4.sp {
	padding-left: 5px;
}

section.nexa-project-business-v2 .project-details .project-descript p {
	color: #f8f8f8;
	font-weight: lighter;
	font-size: 16px;
	padding-bottom: 20px;
}

section.nexa-project-business-v2 .project-details .project-descript .projects-links a .fa {
	width: 40px;
	height: 40px;
	background-color: #fff !important;
	padding-top: 12px;
	border-radius: 32px;
	margin-left: 9px;
}

section.nexa-project-business-v2 .project-details .project-descript {
	position: absolute;
	top: 35%;
	width: 100%;
	text-align: center;
	padding-right: 15px;
	display: none;
	padding-left: 15px;
}

section.nexa-project-business-v2 .project-details .project-descript a h5 {
	font-size: 25px;
	font-weight: lighter;
	color: #fff;
	padding-bottom: 5px;
	text-transform: uppercase;
}

section.nexa-project-business-v2 .project-details .project-descript a {
	text-decoration: none;
}

section.nexa-project-business-v2 .project-details .img-responsive.pro-img {
	height: 320px;
	object-fit: cover;
	width: 455px;
}

section.nexa-project-business-v2 #my-project .modal-body img {
	width: 100%;
}

@media screen and (max-width: 767px) {
	section.nexa-project-business-v2 {
		padding-top: 50px !important;
	}

	section.nexa-project-business-v2 .project-details .img-responsive.pro-img {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}

	section.nexa-project-business-v2 .project-details {
		position: relative;
		margin-bottom: 15px;
		margin-right: 15px;
		margin-left: 15px;
	}

	section.nexa-project-business-v2 .col-md-4.sp {
		padding: 0px;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	section.nexa-project-business-v2 {
		padding-bottom: 132px;
		padding-top: 45px;
	}

	section.nexa-project-business-v2 .project-details>a>h1 {
		line-height: unset;
		padding-bottom: 18px;
	}

	section.nexa-project-business-v2 .project-details .img-responsive.pro-img {
		height: 230px;
		width: 100%;
	}
}

@media screen and (max-width: 1198px) and (min-width: 991px) {
	section.nexa-project-business-v2 .project-details .img-responsive.project-img {
		height: 100%;
	}

	section.nexa-project-business-v2 #my-project .modal-dialog {
		margin: 15% auto;
	}
}

@media screen and (max-width: 2400px) and (min-width: 1450px) {
	section.nexa-project-business-v2 .project-details .img-responsive.pro-img {
		width: 100%;
	}
}

@media screen and (max-width: 2650px) and (min-width: 2450px) {
	section.nexa-project-business-v2 .project-details .img-responsive.pro-img {
		height: 500px;
		width: 100%;
	}
}

@media screen and (min-width: 1400px) {
	section.nexa-project-business-v2 .project-details .img-responsive.pro-img {
		height: 500px;
		width: 100%;
	}
}


/*end-portfolio-business*/


/*testimonial-business*/

section.nexa-testimonial-business .testimonial-title {
	text-align: center;
	margin-top: 69px;
}

section.nexa-testimonial-business .testimonial-title>h3 {
	color: #222;
	font-size: 31px;
	font-weight: lighter;
	margin-bottom: 25px;
}

section.nexa-testimonial-business .testimonial-title>h2 {
	color: #b2b2b2;
	font-size: 18px;
	padding-bottom: 50px;
}

section.nexa-testimonial-business {
	padding-bottom: 26px;
}

section.nexa-testimonial-business #quote-carousel {
	padding: 0 10px 30px 10px;
	margin-top: 30px;
}

#quote-carousel li.active {
	position: relative;
}

#quote-carousel li.active::before {
	background-color: #0be689;
	position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
	content: "";
	border-radius: 38px;
	opacity: 0.7;
	z-index: +9;
}

.nexa-testimonial-business .carousel .carousel-indicators li.active:after {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #2cabe3;
	bottom: -33px;
	content: "";
	height: 20px;
	right: 0px;
	left: 0px;
	margin: 0 auto;
	width: 20px;
	transform: rotate(180deg);
	position: absolute;
	z-index: 9999;
}

.nexa-testimonial-business .carousel .carousel-indicators li.active {
	overflow: visible !important;
}

.nexa-testimonial-business .carousel .carousel-indicators li.active::after,
#quote-carousel li.active::after {
	bottom: -33px;
	content: "";
	height: 20px;
	right: 0px;
	left: 0px;
	width: 20px;
	transform: rotate(180deg);
	position: absolute;
	z-index: 9999;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(44, 171, 227);
	margin: 0px auto;
}

section.nexa-testimonial-business #quote-carousel .carousel-control {
	background: none;
	color: #CACACA;
	font-size: 2.3em;
	text-shadow: none;
	margin-top: 30px;
}

section.nexa-testimonial-business .carousel-indicators .img-responsive {
	border-radius: 32px;
	height: 48px;
	object-fit: cover;
	width: 48px;
}

section.nexa-testimonial-business #quote-carousel .carousel-control.left {
	left: -60px;
}

section.nexa-testimonial-business #quote-carousel .carousel-control.right {
	right: -60px;
}

section.nexa-testimonial-business #quote-carousel .carousel-indicators {
	bottom: 108%;
}

section.nexa-testimonial-business #quote-carousel .carousel-indicators li {
	border: 0 solid transparent;
	cursor: pointer;
	height: 50px;
	margin: 5px 14px 5px 5px;
	opacity: 1;
	overflow: hidden;
	transition: all 0.4s ease 0s;
	width: 50px;
}

section.nexa-testimonial-business .carousel-inner.text-center .item {
	margin-top: -10px;
}

section.nexa-testimonial-business .carousel-inner.text-center {
	margin-top: 85px;
}

section.nexa-testimonial-business .carousel-inner {
	min-height: 150px;
}

section.nexa-testimonial-business .inner-review-block {
	background-color: #2cabe3;
	margin-bottom: 10px;
	padding: 71px 113px 55px;
}

section.nexa-testimonial-business .inner-review-block>p {
	color: #fff;
	font-size: 19px;
	font-style: italic;
	line-height: 1.6;
	padding-bottom: 69px;
}

section.nexa-testimonial-business .reviewer-name {
	border-right: 1px solid #43b4e6;
	color: #fff;
	font-size: 18px;
	padding-right: 27px;
}

section.nexa-testimonial-business .reviewer-place {
	color: #89c2ff;
	padding-left: 27px;
	font-size: 18px;
	font-weight: lighter;
}

section.nexa-testimonial-business .carousel-inner .aroow {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ff0000;
	bottom: 0px;
	content: "";
	height: 20px;
	left: 29px;
	width: 20px;
	transform: rotate(180deg);
	position: absolute;
	top: 1px;
	z-index: 9999;
}

@media screen and (max-width: 767px) {
	section.nexa-testimonial-business #quote-carousel .carousel-indicators li {
		margin: 0;
	}

	section.nexa-testimonial-business #quote-carousel .carousel-indicators {
		bottom: 102%;
		width: 100%;
		left: 28%;
	}

	section.nexa-testimonial-business .inner-review-block {
		padding: 20px;
		margin-top: 25px;
	}

	section.nexa-testimonial-business .inner-review-block>p {
		font-size: 18px;
		line-height: 1.5;
		padding-bottom: 47px;
	}

	section.nexa-testimonial-business .reviewer-name {
		border-right: 1px solid #89c2ff;
		font-size: 15px;
		padding-right: 12px;
	}

	section.nexa-testimonial-business .reviewer-place {
		font-size: 15px;
		padding-left: 4px;
	}

	section.nexa-testimonial-business .carousel-inner .item .aroow {
		display: none;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	section.nexa-testimonial-business .carousel-inner .item:nth-child(4) .aroow {
		left: 65px;
	}

	section.nexa-testimonial-business .carousel-inner .item:nth-child(5) .aroow {
		left: 135px;
	}

	.nexa-testimonial-business .carousel .carousel-indicators li.active::after,
	#quote-carousel li.active::after {
		bottom: -36px;
	}
}

@media screen and (max-width: 1050px) and (min-width: 992px) {

	.nexa-testimonial-business .carousel .carousel-indicators li.active::after,
	#quote-carousel li.active::after {
		bottom: -34px;
	}
}

@media screen and (max-width: 1191px) and (min-width: 991px) {
	section.nexa-testimonial-business .carousel-inner .item:nth-child(4) .aroow {
		left: 65px;
	}

	section.nexa-testimonial-business .carousel-inner .item:nth-child(5) .aroow {
		left: 135px;
	}
}


/*end-of-testimonial-business*/


/*team-business*/

section.nexa-team-business {
	padding-bottom: 116px;
}

section.nexa-team-business .team-member-title {
	text-align: center;
}

section.nexa-team-business .team-member-title>h1 {
	color: #222;
	font-size: 31px;
	font-weight: lighter;
	line-height: 2.3;
}

section.nexa-team-business .team-member-title>h2 {
	color: #b2b2b2;
	font-size: 18px;
	margin-bottom: 72px;
}

section.nexa-team-business .img-responsive.team-leader-img {
	height: 433px;
	object-fit: cover;
	width: 100%;
	border-radius: 17px;
	filter: grayscale(100%);
}

section.nexa-team-business .team-member-info .img-responsive.team-member {
	border-radius: 17px;
	filter: grayscale(100%);
	height: 164px;
	object-fit: cover;
	width: 100%;
}

section.nexa-team-business .team-member-info .thumb-image-team {
	border-radius: 17px;
	filter: grayscale(100%);
	height: 166px;
	object-fit: cover;
	width: 100%;
}

section.nexa-team-business .team-member-info>a {
	text-decoration: none;
}

section.nexa-team-business .team-member-info>a>h1 {
	color: #565656;
	padding-left: 18px;
	font-size: 22px;
	line-height: 1.7;
	padding-top: 20px;
}

section.nexa-team-business .team-member-info>a>h1:hover {
	color: #4fbe6e;
}

section.nexa-team-business .team-member-info>h2 {
	font-size: 17px;
	padding-left: 18px;
	padding-bottom: 22px;
	color: #bababa;
}

section.nexa-team-business .team-info-more {
	background-color: #0be689;
	border-radius: 17px;
	height: 166px;
	width: 168px;
}

section.nexa-team-business .team-info-more>a>h1 {
	color: #fff;
	font-size: 41px;
	font-weight: lighter;
	padding-left: 27%;
	padding-top: 35%;
}

section.nexa-team-business .team-info-more>a>h1:hover {
	color: #4fbe6e;
}

section.nexa-team-business .team-info-more>a {
	text-decoration: none;
}

@media screen and (max-width: 767px) {
	section.nexa-team-business {
		padding-bottom: 40px;
	}

	section.nexa-team-business .team-member-info .thumb-image-team {
		height: 100%;
	}

	section.nexa-team-business .team-info-more>a>h1 {
		padding-left: 40%;
		padding-top: 2%;
	}

	section.nexa-team-business .team-info-more {
		width: 100%;
		height: 50px;
	}

	section.nexa-team-business .team-member-info>a>h1,
	section.nexa-team-business .team-member-info>h2 {
		text-align: center;
		padding-left: 0;
	}

	section.nexa-team-business .team-member-info .img-responsive.team-member {
		height: 250px;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	section.nexa-team-business .team-member-info>a>h1 {
		font-size: 18px;
		line-height: 1.2;
	}

	section.nexa-team-business .team-info-more {
		height: 121px;
		width: 117px;
	}

	section.nexa-team-business .team-info-more>a>h1 {
		padding-left: 19%;
		padding-top: 32%;
		font-size: 36px;
	}

	section.nexa-team-business .img-responsive.team-leader-img {
		height: 280px;
	}

	section.nexa-team-business .team-member-info .thumb-image-team {
		height: 100%;
	}

	section.nexa-team-business .team-member-info>h2 {
		font-size: 16px;
		padding-top: 3px;
	}

	section.nexa-team-business {
		padding-bottom: 70px;
	}

	section.nexa-team-business .team-member-info .img-responsive.team-member {
		height: 100%;
	}
}


/*end-team-business*/

section.nexa-package-business {
	background-image: url("../img/package-demo.png");
	background-repeat: no-repeat;
	padding-bottom: 268px;
	margin-bottom: -83px;
	z-index: 999;
}

section.nexa-package-business .col-md-5>img {
	margin-left: 72px;
	margin-top: 117px;
	width: 80%;
	box-shadow: -26px 54px 52px -44px rgba(0, 0, 0, 0.30);
}

section.nexa-package-business .package-detail img {
	display: block;
	width: 85%;
	margin: 0 auto;
}

section.nexa-package-business .package-detail>h3 {
	font-size: 31px;
	line-height: 1.4;
	padding-bottom: 20px;
	color: #222;
	font-weight: lighter;
	width: 52%;
}

section.nexa-package-business .package-detail>h2 {
	color: #8a8a8a;
	font-size: 18px;
	font-weight: lighter;
	padding-bottom: 53px;
	line-height: 1.4;
}

section.nexa-package-business .btn.btn-success {
	background-color: #0be689;
	border-color: #0be689;
	border-radius: 32px;
	font-size: 14px;
	padding: 15px 38px;
	margin-right: 30px;
	text-transform: uppercase;
}

section.nexa-package-business .btn.btn-danger {
	background-color: #f6f6f6;
	border-color: #f6f6f6;
	border-radius: 32px;
	font-size: 14px;
	padding: 15px 38px;
	color: #7b7b7b;
	text-transform: uppercase;
}

section.nexa-package-business .btn.btn-success:hover {
	background-color: #4fbe6e;
	border-color: #4fbe6e;
}

section.nexa-package-business .btn.btn-danger:hover {
	background-color: #4fbe6e;
	border-color: #4fbe6e;
	color: #fff;
}

@media screen and (max-width: 1050px) {
	section.nexa-package-business {
		background-image: none;
	}
}

@media screen and (max-width: 767px) {
	section.nexa-package-business {
		background-image: none;
		border-top: 1px solid #f7f7f7;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	section.nexa-package-business .col-md-5 {
		text-align: center;
	}

	section.nexa-package-business .col-md-5>img {
		margin-left: 0 !important;
		padding-top: 30px !important;
		width: auto !important;
		display: inline-block;
		margin-top: 0px !important;
	}

	section.nexa-package-business .package-detail {
		padding-top: 60px;
	}

	section.nexa-package-business .package-detail>h3 {
		font-size: 28px !important;
		line-height: 1.2 !important;
		width: 100% !important;
	}

	section.nexa-package-business .package-detail>h2 {
		line-height: 1.2;
	}

	section.nexa-package-business .btn.btn-success {
		padding: 12px 25px !important;
		margin-right: 0 !important;
	}

	section.nexa-package-business .btn.btn-danger {
		padding: 13px 25px !important;
	}

	section.nexa-package-business .package-detail {
		padding-top: 40px !important;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	section.nexa-package-business .col-md-5>img {
		margin-left: 0px;
		padding-top: 40px;
		width: auto;
		margin: auto;
		margin-bottom: 50px;
	}

	section.nexa-package-business .package-detail {
		padding-top: 10px;
	}

	section.nexa-package-business .package-detail>h3 {
		width: 100%;
	}

	section.nexa-package-business .btn.btn-danger {
		padding: 15px 33px;
	}

	section.nexa-package-business {
		margin-bottom: 0;
		padding-bottom: 70px;
	}
}

@media screen and (max-width: 1191px) and (min-width: 991px) {
	section.nexa-package-business {
		margin-bottom: 0;
		padding-bottom: 258px;
	}

	section.nexa-package-business .package-detail>h3 {
		width: 80%;
	}

	section.nexa-package-business .btn.btn-success {
		margin-left: 33px;
		margin-right: 8px;
	}
}

@media screen and (max-width: 1900px) and (min-width: 1400px) {
	section.nexa-package-business .col-md-5>img {
		margin-left: 4px;
		padding-top: 117px;
	}
}

@media screen and (max-width: 2000px) and (min-width: 1901px) {
	section.nexa-package-business .col-md-5>img {
		margin-left: -95px;
	}
}

@media screen and (max-width: 2050px) and (min-width: 2001px) {
	section.nexa-package-business .col-md-5>img {
		margin-left: -145px;
	}
}

@media screen and (max-width: 2350px) and (min-width: 2051px) {
	section.nexa-package-business .col-md-5>img {
		margin-left: -275px;
	}
}

@media screen and (min-width: 2500px) {
	section.nexa-package-business .col-md-5>img {
		margin-left: -450px;
	}
}

@media screen and (min-width: 3300px) {
	section.nexa-package-business .col-md-5>img {
		margin-left: -850px;
	}
}

@media screen and (min-width: 4000px) {
	section.nexa-package-business .col-md-5>img {
		margin-left: -1100px;
	}
}

@media screen and (min-width: 4400px) {
	section.nexa-package-business .col-md-5>img {
		margin-left: -1400px;
	}
}

@media screen and (min-width: 5000px) {
	section.nexa-package-business .col-md-5>img {
		margin-left: -1850px;
	}
}


/*end-of-package*/


/*gallery business*/

section.nexa-gallery-v2 {
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 50px;
	position: relative;
}

section.nexa-gallery-v2 .gallery-main {
	background-image: url("../img/back-top-right.png"), url("../img/back-bottom-left.png");
	background-position: right top, left bottom;
	background-repeat: no-repeat;
	content: "";
	padding: 60px 50px 60px;
}

section.nexa-gallery-v2 .gallery-heading {
	padding-bottom: 20px;
}

section.nexa-gallery-v2 .gallery-heading h2 {
	color: #222;
	font-size: 31px;
	text-align: center;
	font-weight: 400;
	line-height: 2.2;
	text-transform: uppercase;
}

section.nexa-gallery-v2 .business-gallery {
	margin: 0 auto;
	width: 1000px;
	height: 450px;
	object-fit: cover;
	max-width: 100%;
}

section.nexa-gallery-v2 .business-gallery {
	position: relative;
	background-color: #000000;
	border-radius: 3px;
}

section.nexa-gallery-v2 .business-gallery .business-gallery-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
	opacity: 0;
	overflow: hidden;
}

section.nexa-gallery-v2 .gallery-heading h3 {
	color: rgb(178, 178, 178);
	font-size: 18px;
	padding-bottom: 30px;
	text-align: center;
}

section.nexa-gallery-v2 .business-gallery .business-gallery-item img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

section.nexa-gallery-v2 .business-gallery .business-gallery-item.anim-start {
	display: block;
	transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
}

section.nexa-gallery-v2 .business-gallery .business-gallery-item.active {
	opacity: 1;
}

section.nexa-gallery-v2 .business-gallery .business-gallery-thumbnails {
	position: absolute;
	padding: 6px 0;
	font-size: 0;
	background-color: rgba(0, 0, 0, .6);
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 10;
	text-align: center;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

section.nexa-gallery-v2 .business-gallery .business-gallery-thumbnails a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0 6px;
	padding: 0;
	font-size: 0;
	position: relative;
	vertical-align: middle;
}

section.nexa-gallery-v2 .business-gallery .business-gallery-thumbnails a .pignose-gallery-border {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid transparent;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: border-color .3s ease;
	-o-transition: border-color .3s ease;
	-moz-transition: border-color .3s ease;
	-webkit-transition: border-color .3s ease;
}

section.nexa-gallery-v2 .business-gallery .business-gallery-thumbnails a .pignose-gallery-border.active {
	border-color: rgba(32, 255, 192, .8);
}

section.nexa-gallery-v2 .business-gallery .business-gallery-thumbnails a img {
	max-height: 40px;
	vertical-align: middle;
	width: 40px;
}

section.nexa-gallery-v2 .label-gallery {
	position: absolute;
	top: 5px;
	font-size: 21px;
	z-index: 999;
	background-color: #4fbe6e;
	color: #fff;
	padding: 8px 30px;
	overflow: hidden;
	right: 0;
	text-transform: capitalize;
	border-radius: 3px 0 0 3px;
}

section.nexa-gallery-v2 .label-tag {
	position: absolute;
	z-index: 9;
	background-color: #4fbe6e;
	padding: 8px 25px;
	left: -18px;
	font-size: 20px;
	text-transform: capitalize;
	color: #fff;
	top: 5px;
	border-radius: 3px 3px 3px 0px;
}

section.nexa-gallery-v2 .label-tag::before {
	position: absolute;
	border-right: 17px solid #4fb;
	content: "";
	top: 36px;
	left: 0px;
	border-bottom: 11px solid transparent;
}

@media screen and (max-width: 767px) {
	section.nexa-gallery-v2 .business-gallery {
		margin: 0 auto;
		width: 330px;
		height: 220px;
		object-fit: cover;
		max-width: 100%;
	}

	section.nexa-gallery-v2 .business-gallery .business-gallery-thumbnails a img {
		max-height: 50px;
		vertical-align: middle;
		width: 20px;
	}

	section.nexa-gallery-v2 .label-tag {
		display: none;
	}

	section.nexa-gallery-v2 .gallery-main {
		background: none;
		padding: 0px;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	section.nexa-gallery-v2 .business-gallery {
		margin: 0 auto;
		width: 650px;
		height: 400px;
		object-fit: cover;
	}
}


/*end gallery business*/


/*blog business*/

section.nexa-blog-v2 {
	background-color: #f7f7f7;
	padding-bottom: 60px;
	padding-top: 35px;
}

section.nexa-blog-v2 .blog-heading {
	padding-bottom: 35px;
}

section.nexa-blog-v2 .blog-heading h2 {
	color: #222;
	font-size: 31px;
	text-align: center;
	font-weight: lighter;
	line-height: 2.2;
}

section.nexa-blog-v2 .blog-heading h3 {
	color: rgb(178, 178, 178);
	font-weight: lighter;
	font-size: 18px;
	padding-bottom: 30px;
	text-align: center;
}

section.nexa-blog-v2 .blog-img-detail .img-responsive.blog_img {
	width: 100%;
	height: 210PX;
	object-fit: cover;
	border-radius: 0;
}

section.nexa-blog-v2 .blog-box .bloger-content {
	padding: 8px 15px 21px 18px;
}

section.nexa-blog-v2 .blog-box {
	background-color: #fff;
	padding: 0;
	border-radius: 0;
	box-shadow: 0 0px 18px #e8e8e8;
}

section.nexa-blog-v2 .blog-box .blog-img-detail {
	position: relative;
}

section.nexa-blog-v2 .blog-box:hover .blog-overlay {
	position: absolute;
	background-color: #000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.5;
	transition: all ease 0.5s;
	border-radius: 4px;
}

section.nexa-blog-v2 .blog-box:hover .social-icons-blog {
	position: absolute;
	top: 43%;
	display: block;
	width: 100%;
	text-align: center;
	left: 5%;
}

section.nexa-blog-v2 .blog-box .social-icons-blog {
	display: none;
}

section.nexa-blog-v2 .blog-box .blog-img-detail .social-icons-blog li {
	display: inline;
}

section.nexa-blog-v2 .blog-box .blog-img-detail .social-icons-blog li .fa {
	color: #fff;
	padding-right: 20px;
	font-size: 22px;
}

section.nexa-blog-v2 .blog-box .blogger-detail li {
	display: inline;
}

section.nexa-blog-v2 .blog-box .blogger-detail li a {
	font-size: 13px;
	color: #a6a6a6;
	padding-right: 15px;
	text-decoration: none;
}

section.nexa-blog-v2 .blog-box .blogger-detail li a:hover {
	color: #000;
}

section.nexa-blog-v2 .blog-box .blogger-detail li .fa {
	padding-right: 5px;
}

section.nexa-blog-v2 .blog-box .bloger-content a {
	text-decoration: none;
}

section.nexa-blog-v2 .blog-box .bloger-content a h3 {
	color: #48494d;
	font-weight: 400;
	font-size: 17px;
	padding-top: 15px;
	padding-bottom: 15px;
}

section.nexa-blog-v2 .blog-box .bloger-content a h3:hover {
	color: #4fbe6e;
}

section.nexa-blog-v2 .more-blog-btn {
	text-align: center;
	padding-top: 50px;
}

section.nexa-blog-v2 .more-blog-btn .btn-default {
	color: #fff;
	background-color: #4fbe6e;
	border-color: #4fbe6e;
	padding: 11px 38px;
	transition: all ease 0.5s;
	font-size: 15px;
	border-radius: 32px;
}

section.nexa-blog-v2 .more-blog-btn .btn-default:hover {
	background-color: #178636;
	border-color: #178636;
}

@media screen and (max-width: 767px) {
	section.nexa-blog-v2 .blog-box {
		margin-bottom: 40px;
	}

	section.nexa-blog-v2 .more-blog-btn {
		padding-top: 20px;
	}
}


/*End of blog business*/


/*contact-us-busienss*/

section.nexa-contact-business .contact-title>h3 {
	color: #222;
	padding-bottom: 19px;
	font-weight: 400;
	font-size: 31px;
	text-transform: uppercase;
}

section.nexa-contact-business .contact-title {
	margin-top: 125px;
}

section.nexa-contact-business .contact-title>h2 {
	color: #b2b2b2;
	font-size: 18px;
	padding-bottom: 59px;
}

section.nexa-contact-business .form-inline .form-control {
	display: inline-block;
	vertical-align: middle;
	width: 302px;
}

section.nexa-contact-business .form-inline.form-inline-contact-business {
	margin-bottom: 25px;
	line-height: 1.5em;
}

section.nexa-contact-business .form-control.form-contact-name {
	margin-right: 25px;
}

section.nexa-contact-business .form-control.form-contact-phone {
	margin-right: 25px;
}

section.nexa-contact-business textarea {
	width: 511px !important;
	margin-right: 19px;
	height: 94px !important;
	padding-top: 17px !important;
}

section.nexa-contact-business .btn.btn-success {
	background-color: #11ea8e;
	border-color: #11ea8e;
	font-size: 14px;
	padding: 37px 23px;
	text-transform: uppercase;
}

section.nexa-contact-business .btn-success:hover {
	background-color: #449d44 !important;
	border-color: #398439 !important;
	color: #fff !important;
}

section.nexa-contact-business .form-control {
	background-color: #fff;
	background-image: none;
	border: 2px solid #e7e7e7;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	font-size: 14px;
	height: 55px;
	line-height: 1.42857;
	padding: 6px 26px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
}

section.nexa-contact-business {
	position: relative;
}

section.nexa-contact-business .form-control:focus {
	border-color: #4fbe6e;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	outline: 0 none;
}

.google-map {
	background-color: #000;
	border-bottom-left-radius: 162px;
	border-top-left-radius: 118px;
	clip-path: polygon(0px 100%, 0 0px, 100% 0px, 100% 100%);
	float: right;
	position: absolute;
	right: 0;
	width: 560px;
	border: 0px solid transparent;
	height: 100%;
	top: 0;
}

.google-map img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-bottom-left-radius: 162px;
	border-top-left-radius: 118px;
}

#googleMap {
	border-bottom-left-radius: 162px;
	border-top-left-radius: 118px;
	clip-path: polygon(0px 100%, 0 0px, 100% 0px, 100% 100%);
	border: 0px solid transparent;
	overflow: hidden;
}

@media screen and (max-width: 767px) {
	section.nexa-contact-business {
		padding-top: 250px;
	}

	.google-map {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		clip-path: unset;
		float: unset;
		height: 332px;
		right: 0;
		top: 20px;
		width: 100%;
	}

	#googleMap {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		clip-path: unset;
	}

	section.nexa-contact-business .form-control.form-contact-name {
		margin-right: 0;
	}

	section.nexa-contact-business .form-control.form-contact-phone {
		margin-right: 0;
	}

	section.nexa-contact-business textarea {
		margin-right: 0;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	.google-map {
		height: 297px;
		top: 6%;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		clip-path: unset;
		width: 100%;
		float: unset;
	}

	#googleMap {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		clip-path: unset;
	}

	section.nexa-contact-business .contact-title {
		margin-top: 52%;
	}

	section.nexa-contact-business {
		margin-bottom: 80px;
	}
}

@media screen and (max-width: 1191px) and (min-width: 991px) {
	.google-map {
		height: 510px;
		width: 330px;
	}
}

/*end-of-business*/

/*footer*/

footer.nexa-footer-business {
	padding-top: 70px;
	z-index: 999;
	background-color: #262F2B;
	margin-top: 70px;
	border-radius: 73px 140px 0 0;
}

footer.nexa-footer-business .footer-address>h2 {
	color: #8a8a8a;
	padding-bottom: 30px;
	font-size: 18px;
	font-weight: 500;
}

footer.nexa-footer-business address {
	color: #8a8a8a;
	font-size: 17px;
	line-height: 1.5;
}

footer.nexa-footer-business .footer-navbar-link {
	display: inline-block;
	margin-bottom: 30px;
	vertical-align: text-bottom;
	line-height: 30px;
}

footer.nexa-footer-business .footer-menu {
	display: inline;
}

footer.nexa-footer-business .footer-phone>h2 {
	color: #8a8a8a;
	padding-bottom: 30px;
	font-size: 18px;
	font-weight: 500;
}

footer.nexa-footer-business .footer-social-logo {
	display: inline-flex;
	vertical-align: bottom;
	margin-bottom: 30px;
}

footer.nexa-footer-business .footer-social-logo .img-social {
	background-color: #303835;
	border: 2px solid #303835;
	border-radius: 50%;
	display: inline-block;
	height: 35px;
	margin-right: 22px;
	width: 35px;
}

footer.nexa-footer-business div.footer-social-logo .fa {
	color: #808fa2;
}

footer.nexa-footer-business div.footer-social-logo .fa {
	margin-top: 9px;
	font-size: 15px;
	text-align: center;
	width: 100%;
}

footer.nexa-footer-business div.footer-social-logo .img-social:hover {
	background-color: #11ea8e;
	border-color: #11ea8e;
	transition: all ease 0.5s;
}

footer.nexa-footer-business div.footer-social-logo .img-social:hover .fa {
	color: #fff;
	transition: all ease 0.5s;
}

footer.nexa-footer-business .footer-navbar {
	border-top: 1px solid #2d3531;
	padding-top: 46px;
	padding-bottom: 12px;
}

footer.nexa-footer-business .footer-email>h2 {
	color: #8a8a8a;
	padding-bottom: 29px;
	font-size: 18px;
	font-weight: 500;
}

footer.nexa-footer-business .phone-list>li {
	color: #8a8a8a;
	font-size: 17px;
	line-height: 1.5;
}

footer.nexa-footer-business .phone-list a {
	color: #8a8a8a;
	text-decoration: none;
}

footer.nexa-footer-business .phone-list a:hover {
	color: #11ea8e !important;
}

footer.nexa-footer-business .footer-phone {
	padding-bottom: 66px;
}

footer.nexa-footer-business .footer-menu>a {
	color: #939795;
	text-decoration: none;
}

.footer-menu>a:hover {
	color: #11ea8e !important;
}

footer.nexa-footer-business .footer-logo {
	padding-right: 155px;
	margin-bottom: 30px;
}

footer.nexa-footer-business .footer-menu {
	padding-right: 55px;
}

@media screen and (max-width: 767px) {
	section.nexa-contact-business .form-control {
		margin-bottom: 16px !important;
		width: 100% !important;
	}

	section.nexa-contact-business .form-inline.form-inline-contact-business {
		padding-bottom: 0;
	}

	section.nexa-contact-business .btn.btn-success {
		width: 100%;
		padding: 10px 23px;
	}

	footer.nexa-footer-business {
		background-color: #262f2b;
		background-image: none;
		padding-top: 50px;
		border-radius: unset;
	}

	footer.nexa-footer-business address {
		padding-bottom: 40px;
	}

	footer.nexa-footer-business .footer-address>h2 {
		padding-bottom: 20px;
	}

	footer.nexa-footer-business .footer-phone>h2 {
		padding-bottom: 20px;
	}

	footer.nexa-footer-business .footer-phone {
		padding-bottom: 30px;
	}

	footer.nexa-footer-business .footer-email>h2 {
		padding-bottom: 20px;
	}

	.phone-list {
		margin-bottom: 31px;
	}

	footer.nexa-footer-business .footer-navbar {
		padding-bottom: 43px;
		padding-top: 41px;
	}

	footer.nexa-footer-business .footer-navbar-link {
		display: inline-block;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	footer.nexa-footer-business .footer-menu {
		padding-right: 20px;
	}

	footer.nexa-footer-business .footer-menu>a {
		line-height: 1.6;
	}
}

@media screen and (max-width: 991px) and (min-width: 767px) {
	footer.nexa-footer-business {
		border-radius: unset;
	}

	footer.nexa-footer-business .footer-email>h2 {
		padding-bottom: 30px;
	}

	footer.nexa-footer-business .footer-navbar-link {
		padding-top: 15px;
	}

	footer.nexa-footer-business .footer-social-logo {
		padding-top: 15px;
	}

	footer.nexa-footer-business .footer-menu {
		padding-right: 24px;
	}

	footer.nexa-footer-business .footer-social-logo .img-social {
		margin-right: 15px;
	}
}

@media screen and (max-width: 1191px) and (min-width: 991px) {
	footer.nexa-footer-business .footer-logo {
		padding-bottom: 20px;
		padding-right: 157px;
	}
}

/*end-of-footer*/

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 999999999999;
}

.popup__content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: fit-content;
	width: fit-content;
	background-color: white;
	padding: 25px 50px;
	border-radius: 4px;
	margin: auto;
}

.popup .banner-form {
	position: relative;
	transform: translate(0, 0);
	top: 0;
	left: 0;
	background: transparent;
	padding: 0;
}

.popup .banner-form label {
	color: black;
	margin-bottom: -5px;
}

.popup .banner-form input,
.popup .banner-form textarea {
	border: 1px solid rgb(218, 218, 218);
	margin: 10px 0;
	font-size: 14px;
	padding: 5px 10px;
	outline: none;
	border-radius: 4px;
}

.popup .banner-form button {
	border: 1px solid #0984e3;
	background-color: #0984e3;
	transition: 0.3s all ease;
}

.popup .banner-form button:hover {
	background-color: white;
	color: #0984e3;
}

.popup .popup__head h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 28px;
}

.popup__body {
	width: 100%;
}

.popup__content i {
	position: absolute;
	right: 10px;
	top: 6px;
	font-size: 22px;
	cursor: pointer;
}

.hotline, .download {
	position: fixed;
	left: 20px;
	bottom: 20px;
	z-index: 9999999;
}

.download {
	right: 20px;
	left: auto;
}

.hotline a, .download a {
	background-color: rgb(245, 40, 40);
	display: block;
	color: white;
	text-transform: uppercase;
	padding: 17px 22px;
	text-decoration: none;
	transition: 0.3s all ease;
	border-radius: 4px;
}

.hotline a:hover , .download a:hover {
	padding: 25px 30px;
	font-size: 1.5em;
	background-color: rgb(184, 33, 33);
}