    /*
    Flaticon icon font: Flaticon
    Creation date: 15/03/2019 14:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-tag:before { content: "\f100"; }
.flaticon-discount:before { content: "\f101"; }
.flaticon-percent:before { content: "\f102"; }
.flaticon-insurance:before { content: "\f103"; }
.flaticon-stilt-home:before { content: "\f104"; }
.flaticon-lobby-sign:before { content: "\f105"; }
.flaticon-living-room:before { content: "\f106"; }
.flaticon-kitchen:before { content: "\f107"; }
.flaticon-bed:before { content: "\f108"; }
.flaticon-bathroom:before { content: "\f109"; }
.flaticon-balcony:before { content: "\f10a"; }
.flaticon-dinner-table:before { content: "\f10b"; }
    
    $font-Flaticon-tag: "\f100";
    $font-Flaticon-discount: "\f101";
    $font-Flaticon-percent: "\f102";
    $font-Flaticon-insurance: "\f103";
    $font-Flaticon-stilt-home: "\f104";
    $font-Flaticon-lobby-sign: "\f105";
    $font-Flaticon-living-room: "\f106";
    $font-Flaticon-kitchen: "\f107";
    $font-Flaticon-bed: "\f108";
    $font-Flaticon-bathroom: "\f109";
    $font-Flaticon-balcony: "\f10a";
    $font-Flaticon-dinner-table: "\f10b";